body {
  background-color: #a4fbe3;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #5f5dbd;
  font-family: "Amatic SC", cursive;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  color: #5e87b8;
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 1.2;
  margin: 30px 0 20px;
  text-align: center;
}

.icon-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  z-index: -1;
  opacity: 0.05;
  pointer-events: none;
}

.icon-bg span {
  font-family: "Material Symbols Outlined";
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.container {
  background-color: #83cee0;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  margin: 100px auto;
  margin-top: 50px;
  max-width: 600px;
}

.form-container {
  background-color: #a4fbe3;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 188, 212, 0.2);
  box-sizing: border-box;
  padding: 30px;
  margin: 0 auto 20px auto;
  max-width: 500px;
  width: 90%;
}

form .generator-input {
  color: #5e87b8;
  border: 1px solid rgba(94, 135, 184, 0.2);
  border-radius: 30px;
  font-size: 14px;
  flex: 1;
  line-height: 20px;
  min-width: 150px;
  padding: 16px;
  width: 80%;
}

form .generator-input::placeholder {
  color: rgba(166, 191, 220, 1);
}

form .submit-button {
  background-color: #5e87b8;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 188, 212, 0.2);
  color: #83cee0;
  font-size: 14px;
  font-weight: 600;
  flex: 0 0 auto;
  line-height: 20px;
  margin-left: 10px;
  min-width: 100px;
  padding: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 20%;
}

.example {
  color: #5e87b8;
  font-family: "Lora", serif;
  font-size: 10px;
  padding: 15px auto;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

div .limerick {
  background-color: #a4fbe3;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 188, 212, 0.2);
  color: #5e87b8;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 18px;
  padding: 30px;
  margin: 0 20px 20px 30px;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.footer-link {
  color: #5f5dbd;
  font-weight: 700px;
  text-decoration: none;
}

.footer-link:hover {
  color: #a4fbe3;
  text-decoration: underline;
}
